* {
  background-color: rgb(4, 4, 73);
}
div {
  text-align: center;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.calender {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 12px;
}
ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px;
  color: beige;
}
li {
  text-align: right;
}
.first-day {
  grid-column-start: 4;
}
.first-day2 {
  grid-column-start: 7;
}
.first-day3 {
  grid-column-start: 7;
}

.first-day4 {
  grid-column-start: 3;
}

.first-day5 {
  grid-column-start: 5;
}

.first-day6 {
  grid-column-start: 0;
}
.first-day7 {
  grid-column-start: 3;
}
.first-day8 {
  grid-column-start: 6;
}
.first-day9 {
  grid-column-start: 2;
}
.first-day10 {
  grid-column-start: 4;
}
.first-day11 {
  grid-column-start: 7;
}
.first-day12 {
  grid-column-start: 2;
}
.name-day {
  font-weight: bold;
  text-align: center;
  color: beige;
}
h1 {
  color: beige;
}

img:hover {
  transform: scale(2);
}
@media (min-width: 768px) {
  .calender {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    gap: 40px;
  }
  div {
    margin-left: 10em;
  }

  img:hover {
    transform: scale(3);
  }
}

@media (min-width: 1024px) {
  .calender {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    gap: 18px;
  }
  div {
    margin: 0;
  }
}
